@model IEnumerable<Project.Models.Member>

@{
    ViewData["Title"] = "會員列表";
}

<h1 class="text-center">@ViewData["Title"]</h1>

<p class="text-end">
    <a asp-action="Create" class="btn btn-primary">新增會員</a>
</p>

<table class="table table-hover shadow-sm">
    <thead class="table-light">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MemberNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MemberNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.MemberID">編輯</a> |
                    <a asp-action="Details" asp-route-id="@item.MemberID">詳細</a> |
                    <a asp-action="Delete" asp-route-id="@item.MemberID">刪除</a>
                </td>
            </tr>
        }
    </tbody>
</table>