@model IEnumerable<ProjectData.Models.Order>

@{
    ViewData["Title"] = "訂單管理";
}

<h1>@ViewData["Title"]</h1>

<table class="table table-striped table-hover">
    <thead class="table-light">
        <tr>
            <th>訂單編號</th>
            <th>客戶名稱</th>
            <th>經手員工</th>
            <th>訂單日期</th>
            <th class="text-end">總金額</th>
            <th>訂單狀態</th>
            <th>付款狀態</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.OrderNumber)</td>
                <td>@Html.DisplayFor(modelItem => item.Member.Name)</td>
                <td>@Html.DisplayFor(modelItem => item.Employee.Name)</td>
                <td>@item.OrderDate.ToString("yyyy-MM-dd")</td>
                <td class="text-end">@item.TotalAmount.ToString("N0")</td>
                <td>@Html.DisplayFor(modelItem => item.Status)</td>
                <td>
                    @if (item.IsPaid)
                    {
                        <span class="badge bg-success">已付款</span>
                    }
                    else
                    {
                        <span class="badge bg-warning text-dark">未付款</span>
                    }
                </td>
                <td>
                    @* 未來可以加上編輯狀態或詳細資料的連結 *@
                    <a asp-action="Details" asp-route-id="@item.OrderID" class="btn btn-sm btn-info">詳細資料</a>
                </td>
            </tr>
        }
    </tbody>
</table>