@model Project.Models.Employee

@{
    ViewData["Title"] = "員工詳細資料";
}

<div class="container mt-4">
    <div class="card shadow-sm">
        <div class="card-header bg-primary text-white">
            <h2 class="mb-0"><i class="bi bi-person-badge"></i> 員工詳細資料</h2>
        </div>
        <div class="card-body">
            <dl class="row">
                <dt class="col-sm-3 text-end fw-bold">
                    @Html.DisplayNameFor(model => model.EmployeeNumber)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.EmployeeNumber)
                </dd>
                <dt class="col-sm-3 text-end fw-bold">
                    @Html.DisplayNameFor(model => model.Name)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Name)
                </dd>
                <dt class="col-sm-3 text-end fw-bold">
                    @Html.DisplayNameFor(model => model.Phone)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Phone)
                </dd>
                <dt class="col-sm-3 text-end fw-bold">
                    @Html.DisplayNameFor(model => model.Address)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Address)
                </dd>
                <dt class="col-sm-3 text-end fw-bold">
                    @Html.DisplayNameFor(model => model.Email)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Email)
                </dd>
                <dt class="col-sm-3 text-end fw-bold">
                    @Html.DisplayNameFor(model => model.Gender)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Gender)
                </dd>
                <dt class="col-sm-3 text-end fw-bold">
                    @Html.DisplayNameFor(model => model.Birthday)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Birthday)
                </dd>
                <dt class="col-sm-3 text-end fw-bold">
                    @Html.DisplayNameFor(model => model.HireDate)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.HireDate)
                </dd>
                <dt class="col-sm-3 text-end fw-bold">
                    @Html.DisplayNameFor(model => model.Resignation)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Resignation)
                </dd>
                <dt class="col-sm-3 text-end fw-bold">
                    @Html.DisplayNameFor(model => model.Note)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Note)
                </dd>
                <dt class="col-sm-3 text-end fw-bold">
                    @Html.DisplayNameFor(model => model.Title)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Title)
                </dd>
            </dl>
        </div>
        <div class="card-footer text-end">
            <a asp-action="Edit" asp-route-id="@Model?.EmployeeID" class="btn btn-warning me-2">
                <i class="bi bi-pencil-square"></i> 編輯
            </a>
            <a asp-action="Index" class="btn btn-secondary">
                <i class="bi bi-arrow-left"></i> 返回列表
            </a>
        </div>
    </div>
</div>
