@model Project.Models.ViewModels.UserRolesViewModel

@{
    ViewData["Title"] = "管理使用者角色";
}

<h1>@ViewData["Title"]</h1>
<h4>使用者: @Model.UserName</h4>
<hr />

<div class="row">
    <div class="col-md-6">
        <form method="post">
            <input type="hidden" asp-for="UserId" />
            <div class="card">
                <div class="card-header">
                    為此使用者指派角色
                </div>
                <div class="card-body">
                    @for (int i = 0; i < Model.Roles.Count; i++)
                    {
                        <div class="form-check m-1">
                            <input type="hidden" asp-for="@Model.Roles[i].RoleName" />
                            <input asp-for="@Model.Roles[i].IsSelected" class="form-check-input" />
                            <label class="form-check-label" for="@($"Roles_{i}__IsSelected")">
                                @Model.Roles[i].RoleName
                            </label>
                        </div>
                    }
                </div>
                <div class="card-footer">
                    <input type="submit" value="儲存變更" class="btn btn-primary" />
                    <a asp-action="Index" class="btn btn-secondary">返回列表</a>
                </div>
            </div>
            <div asp-validation-summary="All" class="text-danger mt-2"></div>
        </form>
    </div>
</div>