@model IEnumerable<ProjectData.Models.Product>

@{
    ViewData["Title"] = "商品列表";
}

<h1 class="text-center">@ViewData["Title"]</h1>

<p class="text-end">
    <a asp-action="Create" class="btn btn-primary">新增商品</a>
</p>
<table class="table table-hover shadow-sm">
    <thead class="table-light">
        <tr>
            <th>
                產品照片
            </th>
            <th>
               產品SKU    
            </th>
            <th>
                產品名稱
            </th>
           
            <th>
                參考售價
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
      
            <tr>
                <td>
                    @* 修正：讀取資料庫中的圖片路徑，並處理無圖片的情況 *@
                    @if (!string.IsNullOrEmpty(@item.ProductImage))
                    {
                        <img src="~/Photos/products/@item.ProductImage" style="width: 80px; height: auto; border-radius: 5px;" alt="@item.ProductName" />
                    }
                    else
                    {
                        <div style="width: 80px; height: 60px; background-color: #f2f2f2; text-align: center; line-height: 60px; border-radius: 5px; color: #aaa;">
                            無圖
                        </div>
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductSKU)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductNameWithSpec)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td >
                  
                    
                    <a asp-action="Details" asp-route-id="@item.ProductID" class="btn btn-sm btn-outline-primary">詳細</a>

                    <form asp-action="Delete" asp-route-id="@item.ProductID">
                        <input type="submit" value="刪除" class="btn btn-sm btn-outline-danger" onclick="return confirm('確定要刪除(@item.ProductName)嗎?')" />
                    </form>
                   
                </td>
            </tr>
        }
    </tbody>
</table>