@model IEnumerable<ProjectData.Models.ProductDetail>

<table class="table table-sm table-hover">
    <thead class="table-light">
        <tr>
            <th>產品系列</th>
            <th>產品序號</th>
            <th>狀態</th>
            <th >進貨成本</th>
            <th class="text-end">預計售價</th>
            <th>進貨日期</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Product.ProductName</td>
                <td><strong>@item.SerialNumber</strong></td>
                <td>
                    @if (item.Status == "庫存中")
                    {
                        <span class="badge bg-success">@item.Status</span>
                    }
                    else
                    {

                        <span class="badge bg-secondary">@item.Status</span>
                    }
                </td>
                <td >@item.PurchaseCost.ToString("N0")</td>
                <td class="text-end">@item.Price.ToString("N0")</td>
                <td>@item.PurchaseDate?.ToString("yyyy-MM-dd")</td>
               
            </tr>
        }
    </tbody>
</table>