@model IEnumerable<ProjectData.Models.Member>

@{
    ViewData["Title"] = "會員列表";
}

<h1 class="text-center">@ViewData["Title"]</h1>

<p class="text-end">
    <a asp-action="Create" class="btn btn-primary">新增會員</a>
</p>

<table class="table table-hover shadow-sm">
    <thead class="table-light">
        <tr>
            <th>
              會員編號
            </th>
            <th>
               姓名
            </th>
            <th>
             電話
            </th>
            <th>
              信箱
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MemberNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td class="d-flex">

                    <a asp-action="Details" asp-route-id="@item.MemberID" class="btn btn-sm btn-outline-primary">詳細</a>


                    <form asp-action="Delete" asp-route-id="@item.MemberID">

                        <input type="submit" value="刪除" class="btn btn-sm btn-outline-danger" onclick="return confirm('確定要刪除(@item.Name)?')" />

                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>