@model IEnumerable<Project.Models.Product>

@{
    ViewData["Title"] = "商品列表";
}

<h1 class="text-center">@ViewData["Title"]</h1>

<p class="text-end">
    <a asp-action="Create" class="btn btn-primary">新增商品</a>
</p>
<table class="table table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductImage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductSKU)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
           
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
      
            <tr>
                <td>
                    @* 修正：讀取資料庫中的圖片路徑，並處理無圖片的情況 *@
                    @if (!string.IsNullOrEmpty(@item.ProductImage))
                    {
                        <img src="~/Photos/products/@item.ProductImage" style="width: 80px; height: auto; border-radius: 5px;" alt="@item.ProductName" />
                    }
                    else
                    {
                        <div style="width: 80px; height: 60px; background-color: #f2f2f2; text-align: center; line-height: 60px; border-radius: 5px; color: #aaa;">
                            無圖
                        </div>
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductSKU)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                  
                    <a asp-action="Details" asp-route-id="@item.ProductID">詳細</a> |
                    <a asp-action="Delete" asp-route-id="@item.ProductID">刪除</a>
                </td>
            </tr>
        }
    </tbody>
</table>